.header.clearfix
  = link_to root_path, class:"logo" do
    = image_tag 'sample/webshare-icon.png', alt: 'header-logo', class: 'logo-image'
    %ul.logo-ul
      %li.logo-ul-li_sub
        %p.logo-subtitle 影響力をシェアしよう
      %li.logo-ul-li
        %h1.logo-h1 WEBSHARE
.main_visual
  .lp_wrapper
    .lp_text
      %h2 コラボして登録者数をスピードアップ
      %p コラボしたくても相手が見つからない悩みを解決。WEBSHAREではコラボ希望のユーザーが登録しているので、効率的にコラボ相手を見つけることができます。報酬の支払いも管理しているので、報酬未払いなどのリスクなく交渉することができます。
%section.main_visual
  .lp_wrapper
    .lp_text
      %h2 WEBSHAREとは
      %p 影響力をシェアすることでフォロワーやチャンネル登録者数を増加させる。
%section.main_visual
  .lp_wrapper
    .lp_text
      %h2 WEBSHAREの主な機能
      %p 影響力をシェアすることでフォロワーやチャンネル登録者数を増加させる。
