.header.clearfix
  = link_to root_path, class:"logo" do
    = image_tag 'sample/webshare-icon.png', alt: 'header-logo', class: 'logo-image'
    %ul.logo-ul
      %li.logo-ul-li_sub
        %p.logo-subtitle 影響力をシェアしよう
      %li.logo-ul-li
        %h1.logo-h1 WEBSHARE
.main_visual
  .lp_wrapper
    .lp_text
      %h2 コラボして登録者数をスピードアップ
      %p コラボしたくても相手が見つからない悩みを解決。WEBSHAREではコラボ希望のユーザーが登録しているので、効率的にコラボ相手を見つけることができます。報酬の支払いも管理しているので、報酬未払いなどのリスクなく交渉することができます。
%section.main_visual.centerbord.blue
  .lp_wrapper
    %p YouTubeに動画投稿されているお客様へ
    %h2 こんな事でお困りでは御座いませんか？
    %ul
      %li
        %span コラボして登録者数を増やしたいけど、相手が見つからない
      %li
        %span コラボの報酬がちゃんと振り込まれるか不安...
      %li
        %span チャンネルとマッチした相手を見つけるのに一苦労...
      %li
        %span チャンネル規模が小さいので企業案件をもらえない
      %li
        %span 新たな収益化を模索しているが、思いつかない
      %li
        %span 演者が欲しいが、相手がみつからない
%section.main_visual.centerbord
  .lp_wrapper
    %p このようなお悩みはWEBSHAREで解決出来ます！
    %h2 WEBSHAREが出来ること

%section.main_visual
  .lp_wrapper
    .lp_text
      %h2 WEBSHAREとは
      %p 影響力をシェアすることでフォロワーやチャンネル登録者数を増加させる。
%section.main_visual
  .lp_wrapper
    .lp_text
      %h2 WEBSHAREの主な機能
      %p 影響力をシェアすることでフォロワーやチャンネル登録者数を増加させる。
