= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    .col-8.registration-container
      %h1 仮登録完了
      %p ご登録のメールアドレスに認証URLを送りました。<br>クリックして登録完了となります。
      = link_to "アカウントをお持ちの場合はこちら",""