= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    = render 'shared/side'
    .col-8.main
      .content-area
        .user-title
          ここにタイトルが入ります。
        .user-content
          %h3.h3-title できること
          %p ここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れる
        .user-content
          %h3.h3-title プロフィール
          %p ここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れる

        .user-content
          %h3.h3-title ターゲット層
          %p ここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れるここにできることを入れる

      %h2.main-h2 プラン
      = render partial: 'products/product', collection: @user.selling_products, as: "product"
