.header.clearfix.px-5.mx-3
  %ul.float-right
    %li.btn.login 
      = link_to "ログイン",""
    %li.btn.registration 
      = link_to "新規登録",""
  .search_wap
    %input.input
    %i.fas.fa-search
  %h2 WEBSHARE