.header {
  height: 63px;
  background: #fff;
  margin: 0 24px;
  .btn {
    @include btn;
    font-size: 12px;
    height: 37px;
    line-height: 24px;
  }
  .registration {
    background: #13b1c0;
    color: #fff;
  }
  ul {
    line-height: 63px;
    li {
      .avatar {
        border-radius: 50%;
        width: 37px;
        height: 37px;
      }
      display: inline-block;
    }
  }
  .search_wap {
    @include search_wap;
    float: right;
  }
  .logo {
    line-height: 63px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #13b1c0;
    margin: 0;
  }
}

.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: alert_orange;
  }
}
