.side{
  float: left;
  width: 300px;
  .search-side{
    height: 100%;
    background: #fff;
    padding:20px 0;
    -webkit-box-shadow: #E8E8E8 0 4px 0;
    &_child{
      &:not(:first-child){
        padding-top: 20px;
      }
      p {
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }
      .search_wap{
        @include search_wap;
        width: 230px;
      }
      &_select{
        width: 230px;
        height: 40px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      select::-ms-expand {
        display: none;
      }
    }
  }
}