@import "bootstrap";
@import "./reset";
@import "./color";
@import "./mixin/top-page_mixins";
@import "./mixin/registration_mixins";
@import "./mixin/products_mixins";
@import "./module/header";
@import "./module/main";
@import "./module/pagination";
@import "./module/search-side";
@import "./registration/new";
@import "./registration/registration";
@import "./users/show";
@import "./users/show-main";
@import "./products/new";
@import "./products/product";
@import "./creditcards/index";
@import "./creditcards/form";
.row{
  margin: 0;
}

html{
  background: #F4F8F9;
}

.container-fluid{
  background: #F4F8F9;
}


