@import "bootstrap";
@import "./reset";
@import "./color";
@import "./mixin/top-page_mixins";
@import "./registration/new.scss";
.row{
  margin: 0;
}

html{
  background: #F4F8F9;
}
.header {
  height: 63px;
  background: #fff;
  h2{
    line-height: 63px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #13b1c0;
    margin: 0;
  }
  .search_wap{
    @include search_wap;
    float: right;
  }
  ul{
    line-height: 63px;
    display: inline-block;
    .btn{
      @include btn
    }
    .registration{
      background: #13b1c0;
      color: #fff;
    }
  }
}
.container-fluid{
  background: #F4F8F9;
}
.search-side{
  background: #fff;
  padding:20px 0;
  -webkit-box-shadow: #E8E8E8 0 4px 0;
  &_child{
    &:not(:first-child){
      padding-top: 20px;
    }
    p {
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }
    .search_wap{
      @include search_wap;
      width: 230px;
    }
    &_select{
      height: 40px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    select::-ms-expand {
      display: none;
    }
  }
  
}
.main{
  h2{
    font-size: 30px;
    color: #13b1c0;
    margin-bottom: 50px;
  }
  .user{
    margin-top: 20px;
    padding: 30px 20px;
    margin-bottom: 20px;
    background: #fff;
    min-height: 180px;
    -webkit-box-shadow: #E8E8E8 0 4px 0;
    .row{
      min-height: 150px;
    }
    &_icon{
      padding: 0;
      width: 100px;
      height: 100px;
      float: left;
      img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    &_info{
      padding: 0 0 0 15px;
      &_name{
        color: #13b1c0;
        font-weight: bold;
      }
      &_title{
        color: #4F5050;
        font-size: 17px;
        font-weight: 700;
        margin: 10px 0;
        
      }
      &_score{
        font-size: 13px;
        color:#333;
        float: left;
        margin-right: 10px;
      }
    }
    &_btn{
      width: 170px;
      float: left;
      padding: 0;
      .btn{
        @include btn;
        height: 30px;
        font-size: 11px;
        font-weight: bold;
        padding:0 25px 10px 40px;
        line-height: 25px;
        position: relative;
        &:first-child{
          margin-bottom: 10px;
        }
        i{
          font-size: 11px;
          position: absolute;
          top: 6px;
          left: 24px;
        }
      }

    }
  }
}
