= render 'shared/main-header'
.container-fluid
  .row.side
    = render 'shared/mypage-side'
  .row.main
    .content-area
      %h2.earnings 売上金額: 
      .trade-box
        %h2 取引中
        
      %h2 未確定
      .trade-box
        %h2 取引完了